@use "variables";

@mixin flex($jc: flex-start, $ai: center, $dir: row, $gap: 1rem) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $dir;
  gap: $gap;
}

@mixin container {
  max-width: variables.$max-width;
  margin: 0 auto;
  padding: 1rem;
}

@mixin card {
  background: variables.$color-primary;
  border-radius: variables.$radius;
  box-shadow: variables.$shadow;
  padding: 1rem;
  transition: transform 0.2s;
  &:hover {
    transform: translateY(-3px);
  }
}

@mixin responsive-grid($min: 220px) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($min, 1fr));
  gap: 20px;
}