@mixin flex($jc: center, $ai: center, $dir: row) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $dir;
}

@mixin card {
  background: #fff;
  border-radius: $radius;
  box-shadow: $shadow;
  padding: 1rem;
}