@use "variables";
@use "mixins";
@use "sass:color";

body {
  font-family: "Poppins", system-ui, sans-serif;
  background-color: variables.$color-primary;
  color: variables.$color-text;
  margin: 0;
  line-height: 1.6;
}

header,
footer {
  background-color: variables.$color-primary;
  color: variables.$color-text;
  padding: 1rem 2rem;
}

header {
  @include mixins.flex(space-between, center);
  position: sticky;
  top: 0;
  z-index: 10;
  input {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: variables.$radius;
    width: 40%;
  }
  button {
    background: variables.$color-secondary;
    color: variables.$color-text;
    border: none;
    border-radius: variables.$radius;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
}

nav {
  background-color: variables.$color-primary;
  border-bottom: 1px solid lighten(variables.$color-primary, 40%);
  padding: 0.5rem 2rem;

  .navbar {
    @include mixins.flex(center, center, row, 10px);
    // flex-wrap: nowrap;

    button {
      width: 100%;
      background-color: variables.$color-primary;
      color: variables.$color-text;
      border-color: variables.$color-secondary;
      border-radius: 10px;
      font-weight: 600;
      cursor: pointer;
      margin: 0;
      padding: 8px;
      &:hover {
        color: variables.$color-primary;
      }
    }
  }
}



main {
  @include mixins.container;
  min-height: 70vh;
}

.grid {
  @include mixins.responsive-grid(260px);
}

.card {
  @include mixins.card;
  text-align: center;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: variables.$radius;
  }
  h3 {
    margin: 0.5rem 0;
  }
  button {
    background-color: variables.$color-secondary;
    color: variables.$color-text;
    border: none;
    border-radius: variables.$radius;
    padding: 0.5rem 1rem;
    cursor: pointer;
    &:hover {
      color: (variables.$color-primary);
    }
  }
}

footer {
  @include mixins.flex(space-between, flex-start);
  flex-wrap: wrap;
  font-size: 0.9rem;

  div {
    flex: 1;
    min-width: 150px;
    margin: 0.5rem 0;
  }

  a {
    color: lighten(variables.$color-secondary, 5%);
    // color.adjust(variables.$color-accent, variables.$lightness: 5%);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

/* Responsivt design */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 0.5rem;
    input {
      width: 100%;
    }
  }

  nav .navbar {
    flex-direction: column;
  }

  .grid {
  display: flex;
  flex-direction: row;
  height: 80%;
  }

  footer {
    display: flex;
    flex-direction: column;
    text-align:start;
  }
}